@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

    
   body {  
    font: 10px/13px 'Lucida Sans',sans-serif;
}
    
    
@media screen and (min-width: 1500px) {
    header{
        padding-left: 2% !important;
        padding-right: 1% !important;
    }
}


@media screen and (min-width: 800px) {
    header{
        padding-left: 2%;
        padding-right: 0%;
    }
}



header{
    height: 48px;
    transition: height 2s, padding 2s;

}

.topnav {
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
  );
  backdrop-filter: blur(5px);
  overflow: hidden;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -10px;
  height: 12%;
  font-family: sans-serif;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.topnav .navlist{
    float: right;
}

.navlist{
    /*transform: translateX(47px);*/
    transition: transform 5s;
	padding: 14px 1px;
	
}

.navlist a {
    float: left;
    display: block;
    color: #030000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navlist a:hover:not(:first-child) {
    background-color: #ddd;
    color: green;
}

.active {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  color: green;
}

.topnav a.icon {
    position: absolute;
    right: -47px;
    transition: transform 3s;
    top: 0px;
}

.logo{
    height: 60px;
    float: left;
    padding: 9px;
    padding-left: 3%;
    padding-right: 3%;
}

.cursor0{
    cursor: default;
}

.navlist a:not(.icon){
    display: block;
    transition: transform 2s, opacity 1s, visibility 1s;
}



@media screen and (max-width: 600px) {

    .navlist a:not(.icon) {
        transform: translateX(500px);
        opacity: 0;
        visibility: hidden;
    }
	
	.active {
    background-color: #904A4E;
    color: white;
      
}

    .topnav a.icon {
        visibility: visible;
        float: right;
        transform: translateX(-47px);
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        transform: translateX(-47px);
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }

    .topnav.responsive .navlist{
        float: none;
    }
}

/*notifypoint ff*/


.ring-container {
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #ff0022;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 85px;
}


.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 80px;
    top: -15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

.circles {
    width: 10px;
    height: 10px;
    background-color: #ff0022;
    border-radius: 50%;
    position: absolute;
    top: -18px;
    left: 10px;
}

.ringrings {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: -23px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}


@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/* Base Styles */
.main {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin: 8% 8% 0%;
  height:auto;
  font-color: white;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);  /* Used in this example to enable scrolling */
}
    
  .main::after {
 
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
  );
}

.titlebar {
  background: white;
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  font-size: 1.9rem;
  font-family: 'El Messiri', sans-serif;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);  /* Used in this example to enable scrolling */
}

.wrap {
    overflow: hidden;
    margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  
}
.box {
    float: left;
    position: relative;
    width: 80%;
   height: 650px;
    padding-bottom: 33.3%;
  margin-left: 10%;
	
	
}

.titleBox {
   background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 0;
    top: 50%;
    bottom: -0px;
	margin-top: -28px;
	 font-size:1.3vw;
	 line-height: 1.5;
	 padding: 10px 10px 10px;
	 font-family: "Lucida Console", Courier, monospace;
  z-index: -1;
  
  
}

    .titleBox b{ 
    
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
    
    }
    
.titleBox p{
    position: relative;
    left: 0;
    top: 60%;
    bottom: -0px;
	 font-size: 0.90vw;
	 padding-left: 10px;
     padding-bottom: 100%;
	 margin-right: 10px;
	 font-family: "Lucida Console", Courier, monospace;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.7;
  overflow: hidden;
  
}

.titlesox {
   background: #e6e6e6;
    position: absolute;
    left: 0;
	padding: 10px 10px 10px;
    top: 94%;
    bottom: -0px;
	width: 100%;
	 font-size:1vw;
	 line-height: 1.5;
	 padding-left: 10px 10px 10px;
	 font-family: "Lucida Console", Courier, monospace;
  
}


.titlesox td{
	
	padding: 0px 5px 0px;
	opacity: 0.5;
	
	
}
        
    

.titlecat {
  
   display:inline;
  
  
}
    
.titlecat b{
   background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 2, 0, 0.5);
  color: white;
    position: relative;
    left: 0;
	padding: 8px 10px 10px;
    top: 45%;
	 font-size:1.2vw;
  border-radius: 25px;
  width: auto;
  height: 30px; 
  margin-left: 11%;
  
}
    
 .titlecat2 {
  
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
   display: none;
  
  
}
    
.titlecat2 b{
  display:inline;
   background: rgba(0,0,255);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 2, 0, 0.5);
  color: white;
    position: relative;
    left: 0;
	padding: 8px 10px 10px;
    top: 50%;
	 font-size:1.2vw;
  border-radius: 25px;
  width: auto;
  height: 30px; 
  margin-left: 0%;
  
  
}
    
.titleview {
   background: black;
   color: white;
    position: absolute;
    left: 0;
	
    top: 5%;
	 
	 box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  width: auto;
  height: 20px; 
  margin-left: 80%;
  opacity: 0.5;
  
}

.titleview p{
	
	
	padding: 5px 10px 10px;
}


.laybox {
	
position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
overflow: hidden;	
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
overflow: hidden;
}


	

 .boxInner img { 
 
 width: 80%;
 height: 50%; 
 margin-left: 10%; 
    
    }


 @media only screen and (max-width:279px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;

    }
	.main{
	 margin: 35% 2% 0%;	
		
	}
    .titleBox {
		
	font-size:4vw;	
	}
    
    .titleBox p{
		
	font-size:2vw;	
	}
    
    .titlesox {
	padding: 3px 1px 1px;		
	font-size:3vw;	
	}
   
   .titlesox td{
	
	padding: 0px 3px 0px;
	opacity: 0.5;
	
	
}
   
    .titlecat b{
		
	font-size:3vw;	
	}
    
    .titleview p{
		
	font-size:3vw;	
	}
}

 
 @media only screen and (max-width:356px)and (min-width:280px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;

    }
	.main{
	 margin: 30% 2% 0%;	
		
	}
    
    .titleBox {
		
	font-size:4vw;	
	}
    
    .titleBox p{
		
	font-size:2vw;	
	}
    
    .titlesox {
	padding: 4px 1px 1px;		
	font-size:2.7vw;	
	}
   
  .titlesox td{
	
	padding: 0px 3px 0px;
	opacity: 0.5;
	
	
} 
   
    .titlecat b{
		
	font-size:3vw;	
	}
    
    .titleview p{
		
	font-size:3vw;	
	}
}


@media only screen and (max-width:456px)and (min-width:357px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;

    }
	.main{
	 margin: 25% 2% 0%;	
		
	}
    .titleBox {
		
	font-size:4vw;	
	}
    
    .titleBox p{
		
	font-size:3vw;	
	}
    
    .titlesox {
	padding: 5px 0px 0px;		
	font-size:2.5vw;	
	}
    .titlecat b{
		
	font-size:3vw;	
	}
    
    .titleview p{
		
	font-size:3vw;	
	}
}


@media only screen and (max-width:480px) and (min-width:457px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;

    }
	.main{
	 margin: 20% 2% 0%;	
		
	}
	.titleBox {
		
	font-size:3vw;	
	}
    
    .titleBox p{
		
	font-size:2vw;	
	}
    
    .titlesox {
	padding: 10px 1px 1px;		
	font-size:2.5vw;	
	}
    .titlecat b{
		
	font-size:2vw;	
	}
    
    .titleview p{
		
	font-size:3vw;	
	}
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
	
	.main{
	 margin: 20% 2% 0%;	
		
	}
	.titleBox {
		
	font-size:2.20vw;	
	}
    
    .titlesox {
	padding: 0px 1px 1px;	
	font-size:1.5vw;	
	}
    .titlecat b{
		
	font-size:2vw;	
	}
    .titleview p{
		
	font-size:2vw;	
	}
}


@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 80.3%;
        padding-bottom: 33.3%;
   }
   
   .main{
	 margin: 14% 4% 0%;	
		
	}
	.titleBox {
		
	font-size:1.25vw;	
	}
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .box {
        width: 80.3%;
        padding-bottom: 33.3%;
    }
	
	.main{
	 margin: 10% 8% 0%;	
		
	}
	
	.titleBox {
		
	font-size:1vw;	
	}
}

.paginationclass{
margin: 15px 28px; 
list-style-type:none;
border-bottom:1px solid black;
font-weight:bold;
 }
 .paginationclass1{
margin: 15px 28px; 
list-style-type:none;
border-bottom:1px solid black;

 }
.paginationclass div{
    border-bottom:1px solid silver;
    
}
.paginationclass1 div{
    border-bottom:1px solid silver;
    
}
.paginationclass span{
    margin:0px 15px;
    display:inline-block;
    padding:5px 0px;
    text-align:center;
    width:70px;
}
.paginationclass1 span{
    margin:0px 15px;
    display:inline-block;
    padding:5px 0px;
    text-align:center;
    width:70px;
}
.pagination-controle li{
    display: inline-block;
    
}
.pagination-controle button{
    width: 63px;
    font-size: 12px;
    margin-left: 13px;
    cursor:pointer;
}
.pagination-div{
    margin-left:3%;
	
	width: 93%;
/*    min-width: 290px;
   max-width:350px; */

  margin-bottom: 30px;
  margin-right: 0px;
	display: inline-block;
	text-align: left;
    
}


.pagination{
  list-style-type:none;
}
.pagination>li>a {
    
    text-decoration:none;
}

.list{
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  background: white;
  cursor: pointer;
  position: relative;
  border-radius: 4px 4px 4px 4px;
}

h2{
  text-align:center;
  padding:10px 10px 10px 10px;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0px;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
  padding-left: 18px;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}


.notify

{
	
background: #8be4f0;
margin-top: 8px;	
}

.notify2

{
	
background: #8be4f0;
font-size: 20px;
padding: 5px;	
}

.notify3

{
	
background: white;	
}

.notify p {
	background: #dcf0f2;
	
	padding: 5px;
	width: 100%;
	
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card img{
	
	height: 180px;
	
} 
    
input[type=Search] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: 5px;
} 
  
    
 .titlebar {
  background: #bdb9ae;
  padding: 0px;
  line-height: 1.5;
  width : 100%;
  padding: 8px 8px;
  text-align: left;
  font-size: 1.9rem;
  font-family: Impact, Charcoal, sans-serif;
  box-shadow: 0 10px 0px 0 rgba(0,0,0,0.2);  /* Used in this example to enable scrolling */
}

.titlebar td{
	
	padding-left: 30px;
	
}

.titlebar th{
	
	padding-left: 8px;
	
}   
    
.main1 {
  background: #cfe8d5;
  padding: 0px;
  margin: 8% 14% 0%;
  height:auto;
  color: white;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);  /* Used in this example to enable scrolling */
}

    
  .navs {
  margin: 0% 0% 0%;
  background-color: #c7e1eb; 
  padding: 0;
}

.navs li {
  display: inline-block;
  font-size: 20px;
}

.navs img {
  border-radius: 50%;
  width: 60px; 
  
  height: 60px;
  
} 
    
 textarea {
  margin-top: 10px;
  width: 97%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}   
    
 textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
    
    
.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  margin: 0% 1% 2%;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
    
.dialogbox .body {
  position: relative;
  height: auto;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
} 
    
    
  .body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}  
    
 .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}
  
.acceptbutton {
  background-color: red; /* Green */
  border: none;
   width: 100%;  
  color: white;
  font-weight: bold;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px 20px;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.acceptbutton1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.acceptbutton1:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
background-color: transparent;
}


.ytacceptbutton {
  background-color: white; /* Green */
  border: none;
   width: 100%;  
  color: black;
  font-weight: bold;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px 20px;
  cursor: pointer;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.ytacceptbutton1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ytacceptbutton1:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
background-color: transparent;
}