@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

    
body {
 margin: 0;
 padding: 0;
 font: 10px/13px 'Lucida Sans',sans-serif;
}

 
@media screen and (min-width: 1500px) {
 header{
     padding-left: 2% !important;
     padding-right: 1% !important;
 }
}


@media screen and (min-width: 800px) {
 header{
     padding-left: 2%;
     padding-right: 0%;
 }
}



header{
 height: 48px;
 transition: height 2s, padding 2s;

}   
 
 
.topnav {
background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
);
backdrop-filter: blur(5px);
overflow: hidden;
color: black;
position: fixed;
top: 0;
width: 100%;
margin-left: -10px;
height: 12%;
font-family: sans-serif;
z-index: 2;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.topnav .navlist{
 float: right;
}

.navlist{
 /*transform: translateX(47px);*/
 transition: transform 5s;
padding: 14px 1px;

}

.navlist a {
 float: left;
 display: block;
 color: #030000;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.navlist a:hover:not(:first-child) {
 background-color: #ddd;
 color: green;
}

.active {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
border-radius: 10px;
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
color: green;
}

.topnav a.icon {
 position: absolute;
 right: -47px;
 transition: transform 3s;
 top: 0px;
}

.logo{
 height: 60px;
 float: left;
 padding: 9px;
 padding-left: 3%;
 padding-right: 3%;
}

.cursor0{
 cursor: default;
}

.navlist a:not(.icon){
 display: block;
 transition: transform 2s, opacity 1s, visibility 1s;
}



@media screen and (max-width: 600px) {

 .navlist a:not(.icon) {
     transform: translateX(500px);
     opacity: 0;
     visibility: hidden;
 }

.active {
 background-color: #904A4E;
 color: white;
   
}

 .topnav a.icon {
     visibility: visible;
     float: right;
     transform: translateX(-47px);
 }

 .topnav.responsive {position: relative;}
 .topnav.responsive .icon {
     position: absolute;
     top: 0;
     transform: translateX(-47px);
 }
 .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
     transform: translateX(0px);
     opacity: 1;
     visibility: visible;
 }

 .topnav.responsive .navlist{
     float: none;
 }
}

/*notifypoint ff*/


.ring-container {
 position: relative;
}

.circle {
 width: 10px;
 height: 10px;
 background-color: #ff0022;
 border-radius: 50%;
 position: absolute;
 top: -10px;
 left: 85px;
}


.ringring {
 border: 3px solid #62bd19;
 -webkit-border-radius: 30px;
 height: 20px;
 width: 20px;
 position: absolute;
 left: 80px;
 top: -15px;
 -webkit-animation: pulsate 1s ease-out;
 -webkit-animation-iteration-count: infinite; 
 opacity: 0.0
}

.circles {
 width: 10px;
 height: 10px;
 background-color: #ff0022;
 border-radius: 50%;
 position: absolute;
 top: -18px;
 left: 10px;
}

.ringrings {
 border: 3px solid #62bd19;
 -webkit-border-radius: 30px;
 height: 20px;
 width: 20px;
 position: absolute;
 left: 5px;
 top: -23px;
 -webkit-animation: pulsate 1s ease-out;
 -webkit-animation-iteration-count: infinite; 
 opacity: 0.0
}


@-webkit-keyframes pulsate {
 0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
 50% {opacity: 1.0;}
 100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/* Base Styles */
.main {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
border-radius: 10px;
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
padding: 0px;
margin: 8% 5% 0%;
height:auto;
color: white;
box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);  /* Used in this example to enable scrolling */
}    

.footer-distributed {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
border-radius: 10px;
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
width: 100%;
text-align: left;
font: normal 16px sans-serif;
padding: 45px 50px;
margin-top: 50px;
}

.footer-distributed .footer-left p {
color: #8f9296;
font-size: 14px;
margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
font-size: 18px;
font-weight: bold;
color: #ffffff;
margin: 0 0 10px;
padding: 0px;
transition: ease .25s;
}

.footer-distributed p.footer-links a {
display: inline-block;
line-height: 1.8;
text-decoration: none;
color: inherit;
transition: ease .25s;
padding-left: 18px;
}

.footer-distributed .footer-links a:before {
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

.footer-distributed .footer-right {
float: right;
margin-top: 6px;
max-width: 180px;
}

.footer-distributed .footer-right a {
display: inline-block;
width: 35px;
height: 35px;
background-color: #33383b;
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-left: 3px;
transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
 text-align: center;
}
.footer-distributed .footer-right {
 float: none;
 margin: 0 auto 20px;
}
.footer-distributed .footer-left p.footer-links {
 line-height: 1.8;
}
}


.notify

{

background: #8be4f0;
margin-top: 8px;	
}

.notify2

{

background: #8be4f0;
font-size: 20px;
padding: 5px;	
}

.notify3

{

background: white;	
}

.notify p {
background: #dcf0f2;

padding: 5px;
width: 100%;

}


.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
}

.card img{

height: 180px;

} 
 
     
 
.bard {
width: 45%;
height: auto;
position: relative;
text-align: center;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
border-radius: 10px;
box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
margin-left: 25%;
}


.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 930px;
}

.u-section-1 .u-group-1 {
  width: 376px;
  min-height: 857px;
  height: auto;
  margin: 36px auto 0 40px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px 165px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 149px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 35px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 60px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  margin: 12px 60px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: -57px 44px 0 auto;
  padding: 14px 220px 15px 218px;
}

.u-section-1 .u-image-1 {
  width: 263px;
  height: 263px;
  background-image: url("images/611616017-0.png");
  background-position: 50% 50%;
  margin: -872px 254px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  min-height: 417px;
  grid-gap: 32px 32px;
  height: 417px;
  width: 686px;
  margin: 114px 0 0 auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 10px;
}

.u-section-1 .u-text-14 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 13px;
}

.u-section-1 .u-text-15 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 10px;
}

.u-section-1 .u-text-16 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 13px;
}

.u-section-1 .u-text-17 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 10px;
}

.u-section-1 .u-text-18 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 13px;
}

.u-section-1 .u-text-19 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 25px 10px;
}

.u-section-1 .u-text-20 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 13px;
}

.u-section-1 .u-text-21 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-group-2 {
  width: 647px;
  min-height: 91px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  height: auto;
  margin: -520px 16px 60px auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 55px;
  height: 55px;
  background-image: none;
  margin: 18px auto 0 15px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.3rem;
  margin: -51px auto 0 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 349px;
    margin-top: 903px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -127px;
    margin-right: 0;
    padding-right: 187px;
    padding-left: 186px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -841px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: NaNpx;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 95px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 1278px;
    min-height: 1003px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 147px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1122px;
    margin-left: 0;
    padding-left: 271px;
    padding-right: 271px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 168px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 1228px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1107px;
    margin-left: auto;
    padding-top: 13px;
    padding-right: 182px;
    padding-left: 180px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 154px;
  }

  .u-section-1 .u-repeater-1 {
    width: 540px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 1151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 51px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1100px;
    padding-left: 81px;
    padding-right: 81px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 148px;
    margin-right: 77px;
  }

  .u-section-1 .u-repeater-1 {
    width: 340px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
}
